/* .form-group {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 40px;
}

.input-text {
    width: 60vw;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.button-style {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    padding: 6px, 12px;
    border-width: 1px;
    height: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
} */